#page-show-points {
	width: 100%;
	max-width: 1100px;
	margin: 0 auto;
}

#page-show-points header {
	padding: 48px 0;

	display: flex;
	justify-content: space-between;
	align-items: center;
}

#page-show-points header a {
	color: var(--title-color);
	font-weight: bold;
	text-decoration: none;

	display: flex;
	align-items: center;
}

#page-show-points header a svg {
	color: var(--primary-color);
	margin-right: 8px;
	height: 24px;
	width: 24px;
}

#page-show-points p {
	margin-top: 24px;
}
